{
  "swagger": "2.0",
  "info": {
    "description": "Documentación de la API para el servidor Wintook.",
    "version": "1.0.0",
    "title": "Wintook",
    "contact": {
      "email": "hello@wintook.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "app.wintook.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json; charset=utf-8"
  ],
  "consumes": [
    "application/json; charset=utf-8"
  ],
  "securityDefinitions": {
    "userApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_access_token",
      "description": "This token can be obtained by visiting the profile page or via rails console. Provides access to  endpoints based on the user permissions levels. This token can be saved by an external system when user is created via API, to perform activities on behalf of the user."
    },
    "agentBotApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_access_token",
      "description": "This token should be provided by system admin or obtained via rails console. This token can be used to build bot integrations and can only access limited apis."
    },
    "platformAppApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_access_token",
      "description": "This token can be obtained by the system admin after creating a platformApp. This token should be used to provision agent bots, accounts, users and their roles."
    }
  },
  "security": [
    {
      "userApiKey": [

      ]
    }
  ],
  "paths": {
    "/platform/api/v1/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "create-an-account",
        "summary": "Create an Account",
        "description": "Create an Account",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/account_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/platform_account"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/platform/api/v1/accounts/{account_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "get-details-of-an-account",
        "summary": "Get an account details",
        "description": "Get the details of an account",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/platform_account"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given account does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "update-an-account",
        "summary": "Update an account",
        "description": "Update an account's attributes",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/account_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/platform_account"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "delete-an-account",
        "summary": "Delete an Account",
        "description": "Delete an Account",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The account does not exist"
          }
        }
      }
    },
    "/platform/api/v1/accounts/{account_id}/account_users": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account Users"
        ],
        "operationId": "list-all-account-users",
        "summary": "List all Account Users",
        "description": "List all account users",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of account users",
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "integer",
                    "description": "The ID of the user"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "The ID of the user"
                  },
                  "role": {
                    "type": "string",
                    "description": "whether user is an administrator or agent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Account Users"
        ],
        "operationId": "create-an-account-user",
        "summary": "Create an Account User",
        "description": "Create an Account User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "user_id",
                "role"
              ],
              "properties": {
                "user_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                },
                "role": {
                  "type": "string",
                  "description": "whether user is an administrator or agent"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "account_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                },
                "user_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                },
                "role": {
                  "type": "string",
                  "description": "whether user is an administrator or agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Account Users"
        ],
        "operationId": "delete-an-account-user",
        "summary": "Delete an Account User",
        "description": "Delete an Account User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "user_id"
              ],
              "properties": {
                "user_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The account does not exist"
          }
        }
      }
    },
    "/platform/api/v1/agent_bots": {
      "get": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "list-all-agent-bots",
        "summary": "List all AgentBots",
        "description": "List all agent bots available",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of agent bots",
              "items": {
                "$ref": "#/definitions/agent_bot"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "create-an-agent-bot",
        "summary": "Create an Agent Bot",
        "description": "Create an agent bot",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/platform/api/v1/agent_bots/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/agent_bot_id"
        }
      ],
      "get": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "get-details-of-a-single-agent-bot",
        "summary": "Get an agent bot details",
        "description": "Get the details of an agent bot",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given agent bot ID does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "update-an-agent-bot",
        "summary": "Update an agent bot",
        "description": "Update an agent bot's attributes",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "delete-an-agent-bot",
        "summary": "Delete an AgentBot",
        "description": "Delete an AgentBot",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The agent bot does not exist"
          }
        }
      }
    },
    "/platform/api/v1/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "create-a-user",
        "summary": "Create a User",
        "description": "Create a User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/platform/api/v1/users/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/platform_user_id"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-details-of-a-user",
        "summary": "Get an user details",
        "description": "Get the details of an user",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given user does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "operationId": "update-a-user",
        "summary": "Update a user",
        "description": "Update a user's attributes",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "delete-a-user",
        "summary": "Delete a User",
        "description": "Delete a User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The user does not exist"
          }
        }
      }
    },
    "/platform/api/v1/users/{id}/login": {
      "parameters": [
        {
          "$ref": "#/parameters/platform_user_id"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-sso-url-of-a-user",
        "summary": "Get User SSO Link",
        "description": "Get the sso link of a user",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "SSO url to autenticate the user"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given user does not exist"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        }
      ],
      "get": {
        "tags": [
          "Inbox API"
        ],
        "operationId": "get-details-of-a-inbox",
        "summary": "Inbox details",
        "description": "Get the details of an inbox",
        "security": [

        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_inbox"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given inbox does not exist"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        }
      ],
      "post": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "create-a-contact",
        "summary": "Create a contact",
        "description": "Create a contact",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_contact_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_contact"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        }
      ],
      "get": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "get-details-of-a-contact",
        "summary": "Get a contact",
        "description": "Get the details of a contact",
        "security": [

        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_contact"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given contact does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "update-a-contact",
        "summary": "Update a contact",
        "description": "Update a contact's attributes",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_contact_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_contact"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "create-a-conversation",
        "summary": "Create a conversation",
        "description": "Create a conversation",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_conversation_create_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_conversation"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "list-all-contact-conversations",
        "summary": "List all conversations",
        "description": "List all conversations for the contact",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of conversations",
              "items": {
                "$ref": "#/definitions/public_conversation"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "get": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "get-single-conversation",
        "summary": "Get a single conversation",
        "description": "Retrieves the details of a specific conversation",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_conversation"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Conversation not found"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/toggle_status": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "resolve-conversation",
        "summary": "Resolve a conversation",
        "description": "Marks a conversation as resolved",
        "responses": {
          "200": {
            "description": "Conversation resolved successfully",
            "schema": {
              "$ref": "#/definitions/public_conversation"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Conversation not found"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/toggle_typing": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "toggle-typing-status",
        "summary": "Toggle typing status",
        "description": "Toggles the typing status in a conversation",
        "parameters": [
          {
            "name": "typing_status",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Typing status, either 'on' or 'off'"
          }
        ],
        "responses": {
          "200": {
            "description": "Typing status toggled successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Conversation not found"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/update_last_seen": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "update-last-seen",
        "summary": "Update last seen",
        "description": "Updates the last seen time of the contact in a conversation",
        "responses": {
          "200": {
            "description": "Last seen updated successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Conversation not found"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Messages API"
        ],
        "operationId": "create-a-message",
        "summary": "Create a message",
        "description": "Create a message",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_message_create_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_message"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Messages API"
        ],
        "operationId": "list-all-converation-messages",
        "summary": "List all messages",
        "description": "List all messages in the conversation",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of messages",
              "items": {
                "$ref": "#/definitions/public_message"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages/{message_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        },
        {
          "$ref": "#/parameters/message_id"
        }
      ],
      "patch": {
        "tags": [
          "Messages API"
        ],
        "operationId": "update-a-message",
        "summary": "Update a message",
        "description": "Update a message",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_message_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_message"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_identifier}/labels": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        }
      ],
      "get": {
        "tags": [
          "Contact Labels"
        ],
        "operationId": "list-all-labels-of-a-contact",
        "summary": "List Labels",
        "description": "Lists all the labels of a contact",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_labels"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contact Labels"
        ],
        "operationId": "contact-add-labels",
        "summary": "Add Labels",
        "description": "Add labels to a contact. Note that this API would overwrite the existing list of labels associated to the conversation.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "labels": {
                  "type": "array",
                  "description": "Array of labels (comma-separated strings)",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_labels"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/survey/responses/{conversation_uuid}": {
      "parameters": [
        {
          "$ref": "#/parameters/conversation_uuid"
        }
      ],
      "get": {
        "tags": [
          "CSAT Survey Page"
        ],
        "operationId": "get-csat-survey-page",
        "summary": "Get CSAT survey page",
        "description": "You can redirect the client to this URL, instead of implementing the CSAT survey component yourself.",
        "security": [

        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agent_bots": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "list-all-account-agent-bots",
        "summary": "List all AgentBots",
        "description": "List all agent bots available for the current account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of agent bots",
              "items": {
                "$ref": "#/definitions/agent_bot"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "create-an-account-agent-bot",
        "summary": "Create an Agent Bot",
        "description": "Create an agent bot in the account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agent_bots/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/agent_bot_id"
        }
      ],
      "get": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "get-details-of-a-single-account-agent-bot",
        "summary": "Get an agent bot details",
        "description": "Get the details of an agent bot in the account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given agent bot ID does not exist in the account"
          }
        }
      },
      "patch": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "update-an-account-agent-bot",
        "summary": "Update an agent bot",
        "description": "Update an agent bot's attributes",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "delete-an-account-agent-bot",
        "summary": "Delete an AgentBot",
        "description": "Delete an AgentBot from the account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The agent bot does not exist in the account"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agents": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "get-account-agents",
        "summary": "List Agents in Account",
        "description": "Get Details of Agents in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all active agents",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "add-new-agent-to-account",
        "summary": "Add a New Agent",
        "description": "Add a new Agent to Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name",
                "email",
                "role"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full Name of the agent"
                },
                "email": {
                  "type": "string",
                  "description": "Email of the Agent"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "agent",
                    "administrator"
                  ],
                  "description": "Whether its administrator or agent"
                },
                "availability_status": {
                  "type": "string",
                  "enum": [
                    "available",
                    "busy",
                    "offline"
                  ],
                  "description": "The availability setting of the agent."
                },
                "auto_offline": {
                  "type": "boolean",
                  "description": "Whether the availability status of agent is configured to go offline automatically when away."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agents/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "patch": {
        "tags": [
          "Agents"
        ],
        "operationId": "update-agent-in-account",
        "summary": "Update Agent in Account",
        "description": "Update an Agent in Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the agent to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "agent",
                    "administrator"
                  ],
                  "description": "Whether its administrator or agent"
                },
                "availability": {
                  "type": "string",
                  "enum": [
                    "available",
                    "busy",
                    "offline"
                  ],
                  "description": "The availability setting of the agent."
                },
                "auto_offline": {
                  "type": "boolean",
                  "description": "Whether the availability status of agent is configured to go offline automatically when away."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent"
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "operationId": "delete-agent-from-account",
        "summary": "Remove an Agent from Account",
        "description": "Remove an Agent from Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the agent to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/tracking_templates": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "in": "query",
          "name": "search",
          "type": "string",
          "required": false,
          "description": "Filtrar por nombre de plantilla"
        },
        {
          "in": "query",
          "name": "tag",
          "type": "string",
          "required": false,
          "description": "Filtrar por etiqueta (tag)"
        },
        {
          "in": "query",
          "name": "inbox_id",
          "type": "integer",
          "required": false,
          "description": "Filtrar por inbox asociado"
        }
      ],
      "get": {
        "tags": [
          "Tracking Templates"
        ],
        "operationId": "trackingTemplatesList",
        "summary": "Listar plantillas de seguimiento",
        "description": "Retorna todas las plantillas de seguimiento de la cuenta, con soporte de filtros por nombre, etiqueta e inbox. Las plantillas permiten reutilizar configuraciones de seguimiento incluyendo objetivo, contexto de IA, plantillas de WhatsApp y prompt complementario.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de plantillas de seguimiento",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tracking_template"
              }
            }
          },
          "401": {
            "description": "No autorizado"
          }
        }
      },
      "post": {
        "tags": [
          "Tracking Templates"
        ],
        "operationId": "trackingTemplatesCreate",
        "summary": "Crear una plantilla de seguimiento",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "tracking_template"
              ],
              "properties": {
                "tracking_template": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nombre descriptivo de la plantilla",
                      "example": "Seguimiento cotización"
                    },
                    "objective": {
                      "type": "string",
                      "description": "Objetivo del seguimiento al aplicar esta plantilla"
                    },
                    "ai_context": {
                      "type": "string",
                      "description": "Contexto para la generación de mensajes con IA"
                    },
                    "complementary_prompt": {
                      "type": "string",
                      "description": "Instrucciones adicionales para el bot (cómo responder preguntas)"
                    },
                    "inbox_id": {
                      "type": "integer",
                      "description": "Inbox por defecto al aplicar esta plantilla"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Etiquetas para clasificar la plantilla"
                    },
                    "whatsapp_templates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista de nombres de plantillas WhatsApp por intento"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Plantilla creada exitosamente",
            "schema": {
              "$ref": "#/definitions/tracking_template"
            }
          },
          "422": {
            "description": "Parámetros inválidos"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/tracking_templates/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID de la plantilla de seguimiento"
        }
      ],
      "get": {
        "tags": [
          "Tracking Templates"
        ],
        "operationId": "trackingTemplatesShow",
        "summary": "Ver detalle de una plantilla",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la plantilla",
            "schema": {
              "$ref": "#/definitions/tracking_template"
            }
          },
          "404": {
            "description": "Plantilla no encontrada"
          }
        }
      },
      "patch": {
        "tags": [
          "Tracking Templates"
        ],
        "operationId": "trackingTemplatesUpdate",
        "summary": "Actualizar una plantilla de seguimiento",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "tracking_template": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "objective": {
                      "type": "string"
                    },
                    "ai_context": {
                      "type": "string"
                    },
                    "complementary_prompt": {
                      "type": "string"
                    },
                    "inbox_id": {
                      "type": "integer"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "whatsapp_templates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plantilla actualizada",
            "schema": {
              "$ref": "#/definitions/tracking_template"
            }
          },
          "422": {
            "description": "Parámetros inválidos"
          }
        }
      },
      "delete": {
        "tags": [
          "Tracking Templates"
        ],
        "operationId": "trackingTemplatesDestroy",
        "summary": "Eliminar una plantilla de seguimiento",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Plantilla eliminada"
          },
          "404": {
            "description": "Plantilla no encontrada"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/canned_responses": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "get-account-canned-response",
        "summary": "List all Canned Responses in an Account",
        "description": "Get Details of Canned Responses in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all canned responses",
              "items": {
                "$ref": "#/definitions/canned_response"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "add-new-canned-response-to-account",
        "summary": "Add a New Canned Response",
        "description": "Add a new Canned Response to Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/canned_response_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/canned_response"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/canned_responses/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "patch": {
        "tags": [
          "Canned Response"
        ],
        "operationId": "update-canned-response-in-account",
        "summary": "Update Canned Response in Account",
        "description": "Update a Canned Response in Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the canned response to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/canned_response_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/canned_response"
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "delete-canned-response-from-account",
        "summary": "Remove a Canned Response from Account",
        "description": "Remove a Canned Response from Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the canned response to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Canned Response not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/custom_attribute_definitions": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "get-account-custom-attribute",
        "summary": "List all custom attributes in an account",
        "parameters": [
          {
            "name": "attribute_model",
            "in": "query",
            "type": "string",
            "enum": [
              "0",
              "1"
            ],
            "description": "conversation_attribute(0)/contact_attribute(1)",
            "required": true
          }
        ],
        "description": "Get details of custom attributes in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all custom attributes",
              "items": {
                "$ref": "#/definitions/custom_attribute"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "add-new-custom-attribute-to-account",
        "summary": "Add a new custom attribute",
        "description": "Add a new custom attribute to account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/custom_attribute_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/custom_attribute"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/custom_attribute_definitions/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "type": "number",
          "description": "ID of the custom attribute",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "get-details-of-a-single-custom-attribute",
        "summary": "Get a custom attribute details",
        "description": "Get the details of a custom attribute in the account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the custom attribute to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/custom_attribute"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given attribute ID does not exist in the account"
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "update-custom-attribute-in-account",
        "summary": "Update custom attribute in Account",
        "description": "Update a custom attribute in account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the custom attribute to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/custom_attribute_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/custom_attribute"
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "delete-custom-attribute-from-account",
        "summary": "Remove a custom attribute from account",
        "description": "Remove a custom attribute from account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the custom attribute to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Custom attribute not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactList",
        "description": "Listing all the resolved contacts with pagination (Page size = 15) . Resolved contacts are the ones with a value for identifier, email or phone number",
        "summary": "List Contacts",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/contact_sort_param"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_list"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactCreate",
        "description": "Create a new Contact",
        "summary": "Create Contact",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contact_create"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/extended_contact"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "type": "number",
          "description": "ID of the contact",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactDetails",
        "summary": "Show Contact",
        "description": "Get a contact belonging to the account using ID",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/extended_contact"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactUpdate",
        "summary": "Update Contact",
        "description": "Update a contact belonging to the account using ID",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contact_update"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_base"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactDelete",
        "summary": "Delete Contact",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/conversations": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactConversations",
        "summary": "Contact Conversations",
        "description": "Get conversations associated to that contact",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the contact",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_conversations"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactSearch",
        "description": "Search the resolved contacts using a search key, currently supports email search (Page size = 15). Resolved contacts are the ones with a value for identifier, email or phone number",
        "summary": "Search Contacts",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Search using contact `name`, `identifier`, `email` or `phone number`"
          },
          {
            "$ref": "#/parameters/contact_sort_param"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "$ref": "#/definitions/contact_list"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/filter": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactFilter",
        "description": "Filter contacts with custom filter options and pagination",
        "summary": "Contact Filter",
        "security": [
          {
            "userApiKey": [

            ]
          },
          {
            "agentBotApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "attribute_key": {
                        "type": "string",
                        "description": "filter attribute name"
                      },
                      "filter_operator": {
                        "type": "string",
                        "description": "filter operator name",
                        "enum": [
                          "equal_to",
                          "not_equal_to",
                          "contains",
                          "does_not_contain"
                        ]
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "array of the attribute values to filter"
                      },
                      "query_operator": {
                        "type": "string",
                        "description": "query operator name",
                        "enum": [
                          "AND",
                          "OR"
                        ]
                      }
                    }
                  },
                  "example": [
                    {
                      "attribute_key": "name",
                      "filter_operator": "equal_to",
                      "values": [
                        "en"
                      ],
                      "query_operator": "AND"
                    },
                    {
                      "attribute_key": "country_code",
                      "filter_operator": "equal_to",
                      "values": [
                        "us"
                      ],
                      "query_operator": null
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_list"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/contact_inboxes": {
      "post": {
        "tags": [
          "Contact"
        ],
        "operationId": "contactInboxCreation",
        "description": "Create a contact inbox record for an inbox",
        "summary": "Create contact inbox",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the contact",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "inbox_id"
              ],
              "properties": {
                "inbox_id": {
                  "type": "number",
                  "description": "The ID of the inbox"
                },
                "source_id": {
                  "type": "string",
                  "description": "Contact Inbox Source Id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_inboxes"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          },
          "422": {
            "description": "Incorrect payload"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/contactable_inboxes": {
      "get": {
        "tags": [
          "Contact"
        ],
        "operationId": "contactableInboxesGet",
        "description": "Get List of contactable Inboxes",
        "summary": "Get Contactable Inboxes",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the contact",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contactable_inboxes"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          },
          "422": {
            "description": "Incorrect payload"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_id}/contact_trackings": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "contact_id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del contacto"
        },
        {
          "in": "query",
          "name": "conversation_id",
          "type": "integer",
          "required": false,
          "description": "Filtrar por ID de conversación (display_id del frontend)"
        },
        {
          "in": "query",
          "name": "inbox_id",
          "type": "integer",
          "required": false,
          "description": "Filtrar por ID de inbox"
        },
        {
          "in": "query",
          "name": "status",
          "type": "string",
          "required": false,
          "enum": [
            "pending",
            "scheduled",
            "active",
            "paused",
            "completed",
            "cancelled",
            "failed"
          ],
          "description": "Filtrar por estado del seguimiento"
        },
        {
          "in": "query",
          "name": "date_from",
          "type": "string",
          "format": "date-time",
          "required": false,
          "description": "Fecha inicio (scheduled_for >= date_from)"
        },
        {
          "in": "query",
          "name": "date_to",
          "type": "string",
          "format": "date-time",
          "required": false,
          "description": "Fecha fin (scheduled_for <= date_to)"
        },
        {
          "in": "query",
          "name": "search",
          "type": "string",
          "required": false,
          "description": "Búsqueda en objective y last_message_sent"
        },
        {
          "$ref": "#/parameters/page"
        }
      ],
      "get": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsList",
        "summary": "Listar seguimientos de un contacto",
        "description": "Lista todos los seguimientos programados de un contacto, con soporte de filtros avanzados por conversación, inbox, estado, rango de fechas y búsqueda de texto.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de seguimientos con metadatos de paginación",
            "schema": {
              "type": "object",
              "properties": {
                "trackings": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/contact_tracking"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/pagination_meta"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado"
          }
        }
      },
      "post": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsCreate",
        "summary": "Crear un seguimiento",
        "description": "Crea un nuevo seguimiento automático para el contacto. El estado inicial es `pending`. Soporta integración con IA (OpenAI) para generación de mensajes y plantillas de WhatsApp.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "contact_tracking"
              ],
              "properties": {
                "contact_tracking": {
                  "type": "object",
                  "required": [
                    "objective",
                    "scheduled_for",
                    "inbox_id"
                  ],
                  "properties": {
                    "objective": {
                      "type": "string",
                      "description": "Objetivo o descripción del seguimiento",
                      "example": "Seguimiento cotización plan premium"
                    },
                    "scheduled_for": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Fecha y hora programada de ejecución (ISO 8601)",
                      "example": "2025-11-10T09:00:00Z"
                    },
                    "inbox_id": {
                      "type": "integer",
                      "description": "ID del inbox por el que se enviará el mensaje"
                    },
                    "conversation_id": {
                      "type": "integer",
                      "description": "display_id de la conversación relacionada (el frontend usa display_id)"
                    },
                    "max_attempts": {
                      "type": "integer",
                      "description": "Número máximo de intentos automáticos",
                      "default": 3
                    },
                    "retry_interval_value": {
                      "type": "integer",
                      "description": "Valor del intervalo entre intentos",
                      "default": 30
                    },
                    "retry_interval_unit": {
                      "type": "string",
                      "enum": [
                        "minutes",
                        "hours",
                        "days"
                      ],
                      "description": "Unidad del intervalo entre intentos",
                      "default": "minutes"
                    },
                    "ai_context": {
                      "type": "string",
                      "description": "Contexto adicional para la generación de mensajes con IA"
                    },
                    "complementary_prompt": {
                      "type": "string",
                      "description": "Instrucciones adicionales para que el bot responda preguntas específicas"
                    },
                    "quote_id": {
                      "type": "integer",
                      "description": "ID de cotización relacionada (opcional)"
                    },
                    "whatsapp_templates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista de nombres de plantillas WhatsApp por intento (en orden)"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Seguimiento creado exitosamente",
            "schema": {
              "type": "object",
              "properties": {
                "tracking": {
                  "$ref": "#/definitions/contact_tracking"
                }
              }
            }
          },
          "403": {
            "description": "Sin acceso al inbox especificado"
          },
          "422": {
            "description": "Parámetros inválidos"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_id}/contact_trackings/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "contact_id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del contacto"
        },
        {
          "name": "id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del seguimiento"
        }
      ],
      "get": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsShow",
        "summary": "Ver detalle de un seguimiento",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del seguimiento",
            "schema": {
              "type": "object",
              "properties": {
                "tracking": {
                  "$ref": "#/definitions/contact_tracking"
                }
              }
            }
          },
          "404": {
            "description": "Seguimiento no encontrado"
          }
        }
      },
      "patch": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsUpdate",
        "summary": "Actualizar un seguimiento",
        "description": "Actualiza los campos de un seguimiento existente. No es posible cambiar el `contact_id` ni el `account_id`. Si se envía `conversation_id`, se tratará como `display_id` (compatibilidad con el frontend).\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contact_tracking": {
                  "type": "object",
                  "properties": {
                    "objective": {
                      "type": "string"
                    },
                    "scheduled_for": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "inbox_id": {
                      "type": "integer"
                    },
                    "conversation_id": {
                      "type": "integer"
                    },
                    "max_attempts": {
                      "type": "integer"
                    },
                    "retry_interval_value": {
                      "type": "integer"
                    },
                    "retry_interval_unit": {
                      "type": "string",
                      "enum": [
                        "minutes",
                        "hours",
                        "days"
                      ]
                    },
                    "ai_context": {
                      "type": "string"
                    },
                    "complementary_prompt": {
                      "type": "string"
                    },
                    "whatsapp_templates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seguimiento actualizado",
            "schema": {
              "type": "object",
              "properties": {
                "tracking": {
                  "$ref": "#/definitions/contact_tracking"
                }
              }
            }
          },
          "403": {
            "description": "Sin acceso al inbox especificado"
          },
          "422": {
            "description": "Parámetros inválidos"
          }
        }
      },
      "delete": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsDestroy",
        "summary": "Eliminar un seguimiento",
        "description": "Elimina permanentemente un seguimiento. Esta acción no puede deshacerse.",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Seguimiento eliminado"
          },
          "404": {
            "description": "Seguimiento no encontrado"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_id}/contact_trackings/{id}/pause": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "contact_id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del contacto"
        },
        {
          "name": "id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del seguimiento"
        }
      ],
      "post": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsPause",
        "summary": "Pausar un seguimiento",
        "description": "Pausa temporalmente la ejecución de un seguimiento activo o programado (`pending`, `scheduled`, `active`). El seguimiento puede reanudarse posteriormente con el endpoint `/resume`.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Seguimiento pausado correctamente",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Seguimiento pausado correctamente"
                },
                "tracking": {
                  "$ref": "#/definitions/contact_tracking"
                }
              }
            }
          },
          "422": {
            "description": "No se puede pausar en el estado actual"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_id}/contact_trackings/{id}/resume": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "contact_id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del contacto"
        },
        {
          "name": "id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del seguimiento"
        }
      ],
      "post": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsResume",
        "summary": "Reanudar un seguimiento pausado",
        "description": "Reanuda la ejecución de un seguimiento en estado `paused`. Opcionalmente se puede especificar la fecha del siguiente intento.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "schema": {
              "type": "object",
              "properties": {
                "scheduled_for": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Fecha/hora del siguiente intento (opcional; si no se envía se calcula automáticamente)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seguimiento reanudado correctamente",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Seguimiento reanudado correctamente"
                },
                "tracking": {
                  "$ref": "#/definitions/contact_tracking"
                }
              }
            }
          },
          "422": {
            "description": "No se puede reanudar en el estado actual"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_id}/contact_trackings/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "contact_id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del contacto"
        },
        {
          "name": "id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del seguimiento"
        }
      ],
      "post": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsCancel",
        "summary": "Cancelar un seguimiento",
        "description": "Cancela definitivamente un seguimiento. Esta acción es irreversible: el seguimiento no podrá reanudarse. Usar cuando el seguimiento ya no aplica.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Seguimiento cancelado correctamente",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Seguimiento cancelado"
                },
                "tracking": {
                  "$ref": "#/definitions/contact_tracking"
                }
              }
            }
          },
          "422": {
            "description": "No se puede cancelar en el estado actual"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{contact_id}/contact_trackings/improve_text": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "contact_id",
          "in": "path",
          "type": "integer",
          "required": true,
          "description": "ID del contacto"
        }
      ],
      "post": {
        "tags": [
          "Contact Trackings"
        ],
        "operationId": "contactTrackingsImproveText",
        "summary": "Mejorar texto con IA",
        "description": "Utiliza OpenAI (GPT-4o-mini) para mejorar la redacción de un texto o generar un prompt operativo estructurado para el bot. El modo `improve` corrige gramática y estilo; el modo `generate_prompt` construye un prompt operativo a partir del objetivo y contexto.\n",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "text"
              ],
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Texto a mejorar o instrucciones adicionales"
                },
                "mode": {
                  "type": "string",
                  "enum": [
                    "improve",
                    "generate_prompt"
                  ],
                  "default": "improve",
                  "description": "Modo de operación de la IA"
                },
                "context": {
                  "type": "string",
                  "description": "Contexto del seguimiento (solo para mode=generate_prompt)"
                },
                "objective": {
                  "type": "string",
                  "description": "Objetivo del seguimiento (solo para mode=generate_prompt)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Texto procesado exitosamente",
            "schema": {
              "type": "object",
              "properties": {
                "improved_text": {
                  "type": "string",
                  "example": "Estimado cliente, le escribimos para darle seguimiento a su cotización."
                }
              }
            }
          },
          "422": {
            "description": "El campo text es requerido"
          },
          "500": {
            "description": "Error al procesar la solicitud con IA"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/automation_rules": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "get-account-automation-rule",
        "summary": "List all automation rules in an account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "description": "Get details of automation rules in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all automation rules",
              "items": {
                "$ref": "#/definitions/automation_rule"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "add-new-automation-rule-to-account",
        "summary": "Add a new automation rule",
        "description": "Add a new automation rule to account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/automation_rule_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/automation_rule"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/automation_rules/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "type": "number",
          "description": "ID of the Automation Rule",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "get-details-of-a-single-automation-rule",
        "summary": "Get a automation rule details",
        "description": "Get the details of a automation rule in the account",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the automation rule to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/automation_rule"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given rule ID does not exist in the account"
          }
        }
      },
      "patch": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "update-automation-rule-in-account",
        "summary": "Update automation rule in Account",
        "description": "Update a automation rule in account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the automation rule to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/automation_rule_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/automation_rule"
            }
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Rule not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "delete-automation-rule-from-account",
        "summary": "Remove a automation rule from account",
        "description": "Remove a automation rule from account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the automation rule to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "automation rule not found"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/portals": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "post": {
        "tags": [
          "Help Center"
        ],
        "operationId": "add-new-portal-to-account",
        "summary": "Add a new portal",
        "description": "Add a new portal to account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/portal_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/portal"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "get": {
        "tags": [
          "Help Center"
        ],
        "operationId": "get-portal",
        "summary": "List all portals in an account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          }
        ],
        "description": "Get details of portals in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all portals",
              "items": {
                "$ref": "#/definitions/portal"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "patch": {
        "tags": [
          "Help Center"
        ],
        "operationId": "update-new-portal-to-account",
        "summary": "update a new portal",
        "description": "update a new portal to account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/portal_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/portal"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/portals/{portal_id}/categories": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/portal_id"
        }
      ],
      "post": {
        "tags": [
          "Help Center"
        ],
        "operationId": "add-new-category-to-account",
        "summary": "Add a new category",
        "description": "Add a new category to portal",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/category_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/category"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/portals/{portal_id}/articles": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/portal_id"
        }
      ],
      "post": {
        "tags": [
          "Help Center"
        ],
        "operationId": "add-new-article-to-account",
        "summary": "Add a new article",
[...]
